" https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/

" Reload .ideavimrc
" :action IdeaVim.ReloadVimRc.reload
" or
" :source ~/.ideavimrc
" :so $MYVIMRC

" Plugins ----------------------------------
" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins

Plug 'tpope/vim-surround'
Plug 'justinmk/vim-sneak'
"Type s and two chars to start sneaking in forward direction
"Type S and two chars to start sneaking in backward direction
"Type ; or , to proceed with sneaking just as if you were using f or t commands
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'vim-scripts/argtextobj.vim'
Plug 'dbakker/vim-paragraph-motion'
Plug 'michaeljsmith/vim-indent-object'
Plug 'vim-matchit'


  """ IdeaVim settings ------------------------

inoremap jj <Esc>
set relativenumber number
set clipboard=unnamedplus
"set clipboard=+unnamed
"set clipboard+=ideaput
nmap vi" :action EditorSelectWord<CR>:normal vi"<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gs :action GotoSuperMethod<CR>
nmap ~ g~l
vmap ~ g~h
nmap <C-o> :action Back<CR>
nnoremap <leader>u /\u<cr>
"vnoremap .. <Action>(EditorSelectWord)
"vnoremap if <Action>(ExtendSelection)
vmap if <Action>(EditorSelectWord)
nmap S _c$

""" Map leader to space ---------------------
let mapleader=" "

""" Common settings -------------------------
set showmode
set showcmd
set so=5
set incsearch
set visualbell
set scrolloff=10
set ignorecase
set smartcase
set incsearch
set hlsearch

set highlightedyank
"set sneak
set quickscope
set which-key
" increase the timeoutlen (default: 1000), don't add space around the equal sign
set timeoutlen=5000

""" Idea specific settings ------------------
set ideajoin
""set ideastatusicon=gray
set idearefactormode=keep
set surround

""" Mappings --------------------------------
""map <leader>f <Plug>(easymotion-s)
""map <leader>e <Plug>(easymotion-f)

let g:WhichKeyDesc_display = "<leader>d Display options"

let g:WhichKeyDesc_zen_mode = "<leader>dz Toggle Zen mode"
let g:WhichKeyDesc_df_mode = "<leader>dd Toggle Distraction-Free mode"
let g:WhichKeyDesc_fullscreen = "<leader>df Toggle full screen"

map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

map <leader>ts <Action>(SelectInProjectView)
map <leader>tp <Action>(ActivateProjectToolWindow)
map <leader>tc <Action>(ActivateCommitToolWindow)
map <leader>tf <Action>(ActivateStructureToolWindow)
map <leader>tg <Action>(ActivateVersionControlToolWindow)
map <leader>td <Action>(ActivateDebugToolWindow)
map <leader>tt <Action>(ActivateDatabaseToolWindow)

" splits
map <C-w>l <Action>(NextSplitter)
map <leader>ws <Action>(SplitHorizontally)
map <leader>wv <Action>(SplitVertically)
map <leader>wq <Action>(Unsplit)

" Let Ctrl+V paste from clipboard in insert mode
inoremap <C-v> <Esc>"*pa

map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

map <leader>f <Action>(Replace)

" custom
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz

"nnoremap <C-f> ]mzz
"nnoremap <C-b> [mzz
" Jump between methods
map [[ <Action>(MethodUp)zz
map ]] <Action>(MethodDown)zz

nmap viq vi"
nmap vaq va"
nmap ciq ci"
nmap caq ca"
nmap diq di"
nmap daq da"

"""HarpoonIJ
"nmap <leader><C-h> :action SetHarpoon1<cr>
"nmap <leader><C-t> :action SetHarpoon2<cr>
"nmap <leader><C-n> :action SetHarpoon3<cr>
"nmap <leader><C-s> :action SetHarpoon4<cr>
"
"nmap <C-h> :action GotoHarpoon1<cr>
"nmap <C-t> :action GotoHarpoon2<cr>
"nmap <C-n> :action GotoHarpoon3<cr>
"nmap <C-s> :action GotoHarpoon4<cr>
"
"nmap <C-e> :action ShowHarpoon<cr>
"nmap <C-a> :action AddToHarpoon<cr>